<!doctype html>
<html lang="en">

<head>
    <title>QR Code Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .card {
            margin: 0 auto;
            float: none;
            width: 20rem;
            height: 20rem;
            background: white;
            background-size: 25rem;
        }
        
        img {
            opacity: 1;
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="row mb-3">
            <div class="card">
                <img class="card-img-top" src=<%=src %> alt="QR Code Image">
            </div>
        </div>
</body>

</html>